<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Singer Language Mapper</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          {{#link-to "singer"}}
          <a class="nav-link">Home</a>
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to "singer"}}
          <a class="nav-link">Singer </a>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </nav>

  <div class="form-group"></div>
  {{outlet}}
</div>